.form {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
   /* display: inline-block; */
  /* width: 32px;*/
  height: 35px; 
    display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  /* background-image: url("https://www.svgrepo.com/show/49706/eye-on-magnifying-glass.svg"); */
  /* background-size: 60%;
  background-repeat: no-repeat;*/
   cursor: pointer;
   background-color: white;
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
  /* outline: none */
}
.label {
  font-weight: bold;
}
.input {
  width: 400px;
  height: 35px;
  padding: 8px;
  border: 0;
  border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
}
