.container {
  height: 90vh;
  background-color: gray;
  background-image: url('https://image.ibb.co/mjdbZ5/bg5.jpg');
  /* background-size: contain; */
  background-size: cover;
  /* background-size: auto; */
  background-repeat: no-repeat;
  /* background-image: url('https://unsplash.com/photos/6VhPY27jdps'); */
}